---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <main
    class="flex h-full min-h-dvh flex-col items-center justify-center gap-4">
    <h1 class="text-4xl font-light">
      <span class="font-medium">404 </span>| Page Not Found
    </h1>
    <Button variant="outline">Go Back Home</Button>
  </main>
</Layout>
